html,
body {
  font-family: "Mont-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #313237;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

.logo {
  &__link {
    font-size: 1.4rem;
    font-weight: bold;
    color: #313237;
  }
}

.wrapper {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
}

.slider-offer {
  &__item {
    display: flex !important;
    justify-content: center;
    min-height: 505px;
  }

  .slick-arrow {
    position: absolute;
    top: -60px;
    width: 32px;
    height: 32px;
  }

  .slick-prev {
    left: auto;
    right: 48px;
  }

  .slick-next {
    right: 0;
  }
}

.top {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #89939a;
  transition: opacity 0.3s;

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #b4bdc4;
    box-sizing: border-box;
    margin-left: 1rem;

    &--img {
      transition: transform 0.3s;
    }
  }

  &:hover {
    opacity: 0.7;

    .top__arrow--img {
      transform: translate(0, -3px);
    }
  }
}
