.details {
  margin-top: 1.5rem;

  &__title {
    font-family: "Mont-SemiBold", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 41px;
    letter-spacing: -0.01em;

    &--tech,
    &--about-title {
      font-size: 1.5rem;
    }

    &--about-title {
      padding-bottom: 1rem;
    }

    &--specs-title {
      font-size: 14px;
      font-weight: 500;
      color: #89939a;
      padding-right: 0.7rem;
    }

  }

  &__specs-list {
    width: 100%;
    max-width: 32rem;
    border-top: 1px solid #e2e6e9;
    margin-top: 1rem;
    padding-top: 1.5rem;
  }

  &__specs-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__specs-text {
    width: 25rem;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
  }

  &__about,
  &__specs {
    margin-top: 2rem;
  }

  &__about-text {
    padding-top: 2rem;
    border-top: 1px solid #e2e6e9;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #89939a;
  }

  &__photo {
    margin-top: 2rem;
  }

  &__photo-big {
    margin-bottom: 1rem;
  }

  &__photo-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0.5rem;
  }

  &__photo-toggle {
    width: 150px;
    height: 150px;
    border: 1px solid #e2e6e9;
    box-sizing: border-box;
    padding: 0.3rem 0.5rem;
    background-color: #fff;
  }

  &__photo-item {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
