.path {
  margin-top: 2rem;
  &__back {
    font-family: "Mont-SemiBold", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #89939a;
    background-color: #fff;
    border: none;
    padding: 0 0 0 0.2rem;
  }
}
